<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:layout name="Default" />

<!-- Keep the id and the js-classes -->
<f:section name="Main">
    <div class="row">
        <f:debug>{map}</f:debug>
        <div class="col-xs-12 col-md-4 col-lg-3 leftSide">
            <section>
                <h2>Test Map</h2>
                <h3>Google Maps Test</h3>
                <div class="formcontainer">
                    <span class="title">
                        <span class="icon">Suche</span>
                    </span>
                    <f:render partial="Map/Form" arguments="{map:map, request:request, addresses: addresses}"/>
                </div>
            </section>
            <f:if condition="{map.showAddresses}">
                <div class="locationList">
                    <section>
                        <h2>Addresses</h2>
                        <f:render partial="Map/Addresses" arguments="{map:map, addresses:addresses, request:request, categories: categories}" />
                    </section>
                </div>
            </f:if>
            <f:if condition="{map.showCategories}">
                <f:render partial="Map/Categories" arguments="{request:request, map:map, settings:settings, addresses:addresses, categories: categories}" />
            </f:if>
        </div>
        
        <f:if condition="{map.infowindowStyle} == 1">
            <f:render partial="Map/InfoWindowCustom" arguments="{request:request, map:map, settings:settings, addresses:addresses, categories: categories}" />
        </f:if>
        
        <f:if condition="!{map.selector}">
            <div class="col-xs-12 col-md-8 col-lg-9 mapWrapper">
                <div class="js-map" id="gme-{map.uid}"> </div>
            </div>
        </f:if>
    </div>
    <f:render partial="Map/Assign" arguments="{request:request, map:map, settings:settings, addresses:addresses}" />
    
</f:section>