@import "typo3conf/ext/gowest_theme/Resources/Public/Sass/functions";
@import "typo3conf/ext/gowest_theme/Resources/Public/Sass/mixins/breakpoints";
@import "typo3conf/ext/gowest_theme/Resources/Public/Sass/mixins/gowest";

.tx-go-maps {
    width: 100%;
    position: relative;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    overflow: hidden;

    .formcontainer {

        width: 100%;
        position: absolute;
        z-index: 100;

        form {
            width: calc(100% - 40px);
            left: 0px;
            margin-bottom: 0;
            margin-top: 40px;
            margin-left: 20px;
            box-shadow: inset 1px 2px 4px rgba(0,0,0,0.01), 0px 8px 8px rgba(0,0,0,0.2);

            @media $break-sm-query {
                width: calc(100% - 86px);
                margin-left: 32px;
            }

            @media $break-md-query {
                
                width: calc(100% - 70px);
                margin-left: 35px;
            }


            
            input {
                
                //margin: 0 0 $gutter-px;
                border: none;
                height: 44px;
                line-height: 44px;
                display: block;
                padding: 5px 15px;
                float: left;
                //box-shadow: 0 2px 0px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);    
            }

            input.js-gme-saddress {
                width: calc(100% - 86px);
                font-weight: 500;
                margin-left: 32px;
                
                color: #666666;

               
                @media $break-md-query {
                    margin-left: 43px;
                }
            }

            input.js-gme-submit {
                width: 43px;
                cursor: pointer;
                background: white;
            }

            span.lupe {
                position: absolute;
                width: 44px;
                height: 44px;
                text-align: center;
                line-height: 45px;
                pointer-events: none;
                right: 40px;

                @media $break-sm-query {
                    right: 76px;
                }
                
                @media $break-md-query {
                    right: 44px;
                }

                


                &:before {
                    font-family: "default";
                    content:"\eb44";
                    font-size: 20px;
                    
                }

            }

            .back {
                display: block;
                position: absolute;
                width: 43px;
                background: white;
                height: 44px;
                //box-shadow: 0 2px 0px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
                cursor: pointer;
                text-align:center;

                &:before {
                    content: "\2261";
                    font-size: 24px;
                    line-height: 45px;
                    
                    
                }
            }

            
    
            
        }  
    }
    
    .leftSide {
        background: #FFF;
        height: auto;
        position: absolute;
        display: none;

        &.open {
            display: block;
            z-index: 50;
        }

        
        h2 {
           color: white;
            margin-bottom: 2rem;
            margin-left: 40px;
            margin-top: 9rem;
            -webkit-hyphens: manual;
               -moz-hyphens: manual;
                -ms-hyphens: manual;
                    hyphens: manual;
            

            @media $break-md-query {
                color: #727376;
            }
        }
        
        
        @media $break-md-query {
            min-height: calc(100vh - 122px);
            
            &:before {
                content: '';
                width: 200px;
                position: absolute;
                right: -200px;
                top: 0;
                height: 100%;
                background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
                opacity: 0.2;
                pointer-events: none;
            }
            
            section {
                //margin: calc(2 * #{$gutter-px});
            }
        }
    }
    
    
    
    .mapWrapper {
        min-height: 90vh;
        height: 10px;
        position: relative;
        
        @media $break-md-query {
            min-height: calc(100vh - 122px);
        }
        
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            pointer-events: none;
            z-index: 8;
            background: rgba(0,0,0,0.5);
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            @include transition(0.25s ease);
        }
    }
    
    .infowindow {
        background: white;
        position: relative;
        float: left;
        display: none;
        text-align: left;

        .infowindow-content {
            @media $break-sm-query {
                height:100%;
            }
            @media $break-md-query {
                height: auto;
            }
        }
        

        &.open {
            display: block;
            z-index: 80;
            

            .infowindow {
                display: block;
                width: 100%;

                .infowindow-content.no-img {
                    margin-top: 100px;

                    @media $break-sm-query {
                        width: 100%;
                    }
                }


                .infowindow-content {
                    padding: 35px;

                    @media $break-sm-query {
                        width: 50%;
                        float: left;
                    }

                    @media $break-md-query {
                        width: 100%;
                    }

                    .highlight {
                        font-weight: 500;
                        text-transform: uppercase;
                        display: inline-block;
                        min-width: 20%;
                    }
                    .contact {
                        color: rgba(220,42,27,1);

                        a {
                            color: rgba(220,42,27,1);

                            &:hover {
                                color: rgba(57,63,69,1);
                            }
                        }
                    }

                    .contact-all {
                        padding: 0;
                        list-style: none;
                    }

                    h3 {
                        font-size: 1.5rem;
                        margin: 0;
                    }

                    .routeLink a {
                        text-decoration: none;
                        color: white;
                    }

                    .routeLink.btn {
                        padding: 0 1rem;
                        margin-top: 30px;
                        width: calc(100% - 20px);
                        background: rgba(220,42,27,1);
                        text-align: center;
                    }
                }

            }
        }

       
        
        @media $break-md-query {
            position: absolute;
            height: 100%;
            overflow-x: none;

            
        }
        
        .infowindow-image {

            .noimg {
                display: block;
                width: 100%;
                height: 14%;
                background: #ebecee;
                position: absolute;
                z-index: 100; 
            }

            img {
                width: 100%;
                height: auto;
                

                @media $break-sm-query {
                    object-fit: cover;
                    height: fit-content;

                }
                @media $break-md-query {
                    height: auto;
                }
               

            }

            @media $break-sm-query {
                width: 50%;
                float: left;
            }
            
            @media $break-md-query {
                width: 100%;
            }

        }
        
        .infowindow-address {
            //.unitize(font-size, 13);
            text-transform: uppercase;
            margin-bottom: 1.5rem;
            font-weight: 500;
        }
        
        .close {
            display: none;
            width: 42px;
            height: 42px;
            //background: $color-base-light;
            position: absolute;
            right: $gutter-px;
            top: $gutter-px;
            z-index: 100;
            cursor: pointer;
            
            &:before {
                content: '\e90b';
                width: 42px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                font-family: 'default';
                font-weight: normal;
                text-indent: 0em;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 14px;
            }
        }
        
        .button, .button:hover,
        .route, .route:hover {
            width: 100%;
            height: 42px;
            line-height: 42px;
            padding: 0;
            text-align: center;
            background: #FFF;
            //color: $color-base-dark;
            
            &:before {
                display: none;
            }
        }
        
        .route {
            display: none;
        }
        
        .infowindow-content table {
           //.unitize(font-size,14);
            
            td,th {
                border: none;
                background: none;
                padding: 0;
                line-height: 1.87em;
                width: auto;
                padding-right: $gutter-px;
            }
            
            tr td:first-of-type,
            tr th:first-of-type {
                width: 80px;
                font-weight: bold;
                color: #FFF;
            }
            
            a {
                color: rgba(255,255,255,0.85);
                text-decoration: none;
            }
        }
        
        .routeTable {
            color: #FFF;
            
            .adp, .adp table, .adp-legal {
                color: #FFF;
            }
            
            table {
                background: rgba(255,255,255,0.2);
                
                td,th {
                    color: #FFF;
                }
            }
            
            .adp-directions {
                line-height: 1.5em;
                
                tr td:nth-of-type(1) {
                    width: 30px;
                }
                
                tr td:nth-of-type(2) {
                    width: 40px;
                }
                
                tr td:nth-of-type(4) {
                    width: 60px;
                    text-align: right;
                }
            }
            
            .adp-placemark {
                border: none;
                
                tr td:nth-of-type(1) {
                    width: 16%;
                }
            }
        }
    }

    .gme-cats {
        text-decoration: none;
        list-style-type: none;

        label {
            margin-left: 10px;
        }
    }
    
    .infowindow::-webkit-scrollbar {
        width: 4px;
    }
    
    .infowindow::-webkit-scrollbar-track {
        background: #E2E2E2;
    }
    
    .infowindow::-webkit-scrollbar-thumb {
        background-color: #333438;
        outline: 1px solid #333438;
    }
    
    .locationList {
        position: absolute;
        width: 100%;
        left: 10px;
        top: 0;
        background: #FFF;
        padding-left: 20px;
        overflow: auto;
        z-index: 10;
        @include transform(translateX(-100%));
        @include transition(0.25s ease);

        @media $break-md-query {
            height: 100%;
            left: 0;
            padding: 0;
        }

        &.act {
            @include transform(translateX(0%));
        }
        
        .close {
            //color: $color-base-light;
            text-transform: uppercase;
            position: relative;
            padding-left: 50px;
            //.unitize(font-size,13);
            font-weight: 500;
            margin-bottom: 1rem;
            display: block;
            cursor: pointer;
            
            &:before {
                content: '';
                width: 30px;
                height: 2px;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -1px;
               // background: $color-base-light;
            }
        }
        
        .gme-addresses {
            list-style: none;
            padding: 0;
            
            li {
                border-bottom: 1px solid #F1F1F1;
                position: relative;
                padding: 0 40px;
                
                &:first-of-type {
                    border-top: 1px solid #F1F1F1;
                }
                
                a {
                    text-decoration: none;
                    color: #727376;
                    position: relative;
                    z-index: 1;
                    padding: 1.5rem 0;
                    display: block;
                    
                    .title {
                        text-transform: uppercase;
                        //.unitize(font-size,16);
                        font-weight: normal;
                        //color: $color-base-dark;
                        letter-spacing: 1px;
                    }
                    
                    .distance {
                        font-weight: 500;
                    }
                }
                
                &.act:before {
                    content: '';
                    position: absolute;
                    left: -10px;
                    top: 0;
                    width: calc(100% + 20px);
                    height: 100%;
                    background: #F1F1F1;
                    z-index: 0;
                }

                &:hover {
                    background: gray;

                    a {
                        color: white;
                    }
                }
            }
        }
    }
    
    .locationList::-webkit-scrollbar {
        width: 4px;
    }
    
    .locationList::-webkit-scrollbar-track {
        background: #E2E2E2;
    }
    
    .locationList::-webkit-scrollbar-thumb {
        background-color: #333438;
        outline: 1px solid #333438;
    }
    
    &.infowindowActive {
        
        @media $break-md-query {
            .mapWrapper {
                width: 50%;
                left: 25%;
                
                &:before {
                    opacity: 1;
                }
            }
        }
    }
    
    .zoomControls {
        right: 0px;
        top: 43px;
        z-index: 7;
    }
    
    .zoomControls ul li {
        padding: 0;
        width: 42px;
        height: 42px;
       // background: $color-base-dark;
        margin: 0 0 1px;
        
        span {
            width: 42px;
            height: 42px;
            display: block;
            text-align: center;
            line-height: 42px;
            color: #FFF;
            overflow: hidden;
            text-indent: -9999em;
            cursor: pointer;
            
            &:before {
                content: '\2b';
                width: 42px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                font-family: 'default';
                text-indent: 0em;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 14px;
            }
        }
        
        .zoomOut span:before {
            content: '\23af';
        }
    }
}