<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="infowindow" id="gme-{map.uid}-infowindow">
    <span class="close">close</span>
    <f:if condition="{address.infoWindowImages}">
        <div class="infowindow-image">
            <f:for each="{address.infoWindowImages}" as="image">
                <f:link.typolink parameter="{image.originalResource.link}">
                    <f:image image="{image}" maxWidth="{settings.infoWindow.imageMaxWidth}"/>
                </f:link.typolink>
                <f:if condition="{image.originalResource.description}">
                    <p>{image.originalResource.description}</p>
                </f:if>
            </f:for>
        </div>
    </f:if>
    <div class="infowindow-content">
        <h2>{address.title} / {address.company}</h2>
        <p>Name: {address.name}, E-Mail: {address.email}, Phone: {address.phonenumber}, Fax: {address.fax}, Web: {address.web}</p>
        <p>Address: {address.street} {address.housenumber}, {address.zip} {address.city}, {address.country}</p>
        <f:format.html>{address.description}</f:format.html>
    </div>
    <f:if condition="{map.showRoute} || {map.calcRoute}">
        <f:comment>Container for route description</f:comment>
        <div id="dPanel-gme-{map.uid}" class="routeTable"></div>
    </f:if>
</div>

</html>